@mixin background_img_set($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin font-break($line:1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font_break1 {
  @include font-break(1)
}

.marg_top70 {
  margin-top: 70px;
}

.marg_top60 {
  margin-top: 60px;
}

.font_top {
  padding:15px 25px;
  height: 21px;
  font-size: 16px;
  font-family: Microsoft YaHei, Microsoft YaHei;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 21px;
}

.font_bottom {
  margin-top: 60px;
  padding: 0 25px 30px 25px;
  height: 21px;
  font-size: 16px;
  font-family: Microsoft YaHei, Microsoft YaHei;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 21px;
}

.font_16 {
  font-size: 16px;
}

.font_18 {
  font-size: 18px;
}

.font_15 {
  font-size: 15px;
}

.font_22 {
  font-size: 22px;
}

.font_28 {
  font-size: 28px;
}

.font_20 {
  font-size: 20px;
}

.font_32 {
  font-size: 32px;
}

.font_27 {
  font-size: 27px;
}

.font_12 {
  font-size: 12px;
}

.font_14 {
  font-size: 14px;
}

.font_family_DIN {
  font-family: D-DIN, D-DIN;
}

.font_weight_700 {
  font-weight: 700;
}

.h_100 {
  height: 100%;
}

.w_100 {
  width: 100%;
}

.w_100p {
  width: 100px;
}

.w_300p {
  width: 300px;
}

.w_500p {
  width: 500px;
}


.h_80 {
  height: 80px;
}

.w_80 {
  width: 80px;
}

.h_50 {
  height: 50px;
}

.w_50 {
  width: 50px;
}

.marg_left10 {
  margin-left: 10px;
}

.marg_left15 {
  margin-left: 15px;
  margin-bottom: 10px;
}

.marg_left5 {
  margin-left: 5px;
}

.marg_left12 {
  margin-left: 12px;
}

.marg_left20 {
  margin-left: 20px;
}

.marg_top20 {
  margin-top: 20px;
}

.marg_top15 {
  margin-top: 15px;
}

.marg_top30 {
  margin-top: 30px;
}

.marg_top40 {
  margin-top: 40px;
}

.marg_top45 {
  margin-top: 45px;
}

.marg_top10 {
  margin-top: 10px;
}

.marg_top5 {
  margin-top: 5px;
}

.marg_top12 {
  margin-top: 12px;
}

.marg_top16 {
  margin-top: 16px;
}

.marg_top14 {
  margin-top: 14px;
}

.marg_top15 {
  margin-top: 15px;
}

.marg_top26 {
  margin-top: 26px;
}

.marg_right20 {
  margin-right: 20px;
}

.marg_right10 {
  margin-right: 10px;
}
.marg_right30 {
  margin-right: 30px;
}

.marg_bottom20 {
  margin-bottom: 20px;
}

.marg_bottom10 {
  margin-bottom: 10px;
}
.marg_left40 {
  margin-left: 40px;
}
.color_yellow2 {
  color: #DEB633;
}

.color_green {
  color: #42BF82;
}

.color_org {
  color: #FF8E4C;
}

.color_yellow1 {
  color: #FFDA61;
}

.color_dian {
  color: #6185A7;
}

.color_qi {
  color: #B8CBE5;
}

.color_white {
  color: #FFFFFF;
}

.color_blue {
  color: #198CFF;
}

.color_red {
  color: #E05A5A;
}

.dis_flex {
  display: flex;
}

.just_content_center {
  justify-content: center;
}

.just_content_start {
  justify-content: start;
}

.just_content_end {
  justify-content: flex-end;
}

.just_content_space_between {
  justify-content: space-between;
}

.just_content_space_around {
  justify-content: space-around;
}

.flex_shrink0 {
  flex-shrink: 0;
}

.h_460 {
  height: 460px !important;
}

.h_480 {
  height: 480px !important;
}

.h_300p {
  height: 300px;
}

.w_360 {
  width: 360px;
}

.align_items_center {
  align-items: center;
}

.pad_20p_left_right {
  padding-left: 20px;
  padding-right: 20px;
}

.pading_20 {
  padding: 20px;
}

.pad_30p_top_bottom {
  //padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.border_box {
  box-sizing: border-box;
}

.flex-warp {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

